{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fourbags- Online Shopping Platform</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}">
</head>
<body>
    {% block navbar %}
    {% include 'partials/navbar.html' %}
    {% endblock navbar %}

    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>

    <script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/angular/angular.min.js' %}"></script>
</body>
</html>
