body {
    background: white;
    font-family: $bodyFont;
}

.container {
    margin-top: 76px;
}

.navbar.navbar-default.coloured_nav {
    background-color: $navbar-color;
}

.navbar.navbar-default {
    background-color : transparent;
    border: none;
    border-radius: 0;
    font-family: $navbarFont;
    height: 70px;

    @include phones {

        .navbar-toggle {
            margin-top: 18px;
        }

        .navbar-collapse {
            background-color: rgba(18, 18, 18, 0.78);
            border-color: none;

            &:hover {
                border: none;
            }
        }
    }
}

a.navbar-brand {
    float: left;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 12px;

    @include phones {
        float: left;
        height: 50px;
        font-size: 18px;
        line-height: 20px;
        margin-top: 12px;
    }
}

.navbar-brand>img {
    display: block;
    width: 160px;
    margin: 0 20px;

    @include phones {
        margin: 0 15px;
    }
}

.navbar.navbar-default .navbar-toggle {
    background: transparent;
}

.navbar-default .navbar-nav {
    margin-top: 13px;
    margin-right: 20px;

    li {
        padding: 0 7px;
    }

    li>a {
        color: white;
        font-size: 17px;
        font-family: $navbarFont;
        padding-bottom: 21px;

        &:hover {
            color: $navbar-links-hover-state-color;
        }

        @include phones {
            &:hover {
                border-bottom: 1px solid $navbar-links-and-border-color;
                color: $navbar-links-hover-state-color;
            }
        }
    }

    @include phones {
        margin-left: 10px;
    }
}

.wrapper {
    background-image: url('../images/background1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}

.top_banner {
    margin-top: 250px;

    h1 {
        color: white;
        font-family: $topTitleFont;
        font-size: 55px;
        text-shadow: 1px 1px 4px black;
    }
}

.content_wrapper {
    font-family: $headerfont;
    margin-bottom: 76px;
}


// Hide Angular code when loading the page
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
