.btn-local {
    // background: $body-background-color;
    // border: $one-pixel-border;
    color: $item-h2-font-color;
    margin-top: 20px;

    &:hover {
        // background: $navbar-color;
        color: $body-background-color;
    }
}

.btn-local-second {
    // background: $navbar-color;
    // border: $one-pixel-border;
    color: $item-h2-font-color;
    margin-top: 20px;

    &:hover {
        // background: $body-background-color;
        color: $item-h2-font-color;
        // border: $one-pixel-border
    }
}

// overiding psuedo class css
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background: $navbar-color;
    color: $body-background-color;
}


.md-margin-bottom {
    margin-bottom : 50px;
}

.sm-margin-bottom {
    margin-bottom: 20px;
}

.white-text {
    color:  white;
}
