// Font imports
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Alice');
@import url('https://fonts.googleapis.com/css?family=Alice|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

// Fonts
$navbarFont: 'Comfortaa', cursive;
$topTitleFont: 'Alice', serif;
$headerfont: 'Poiret One', cursive;
$bodyFont: 'Open Sans', sans-serif;

// Colors
$body-background-color: #263238;
$rating-star-color: #ffd700;

// Navbar Colors
$navbar-color: #37474f;
$navbar-links-and-border-color: #78909c;
$navbar-links-hover-state-color: #90a4ae;

// Item Box Color
$item-wrapper-color: #455a64;
$item-wrapper-border-color: #37474f;
$price-box-bg-color: #ccc;
$price-box-shadow-color: grey;

// Media Queries
$phones: 300px;
$tablets: 768px;
$desktops: 1024px;

// Typography Colors
$all-h1-font-color: #b0bec5;
$item-h2-font-color: #b0bec5;
$item-description-font-color: #222222;

// Border
$one-pixel-border: 1px solid $item-wrapper-border-color;


// Margins
$small-top-margin: 10px;
$medium-top-margin: 20px;
$high-top-margin: 30px;
