{% extends "apparel/apparel_base.html" %}
{% load filters argonauts %}

{% block head %}
{{block.super}}
<script>
    window.item = {{item|json}};
</script>
{% endblock head %}
{% block top_content %}
{% endblock top_content %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Thank you for ordering , come agian</h1>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 md-margin-top text-center">
                        <p>You have order this item:</p>
                        <p><strong>Item Name:  </strong>  {{ item.item_title }}</p>
                        <p><strong>Item Brand: </strong> {{ item.item_brand }}</p>
                        <p><strong>Item Price: </strong> {{ item.item_price | add_ringgit_sign }}</p>
                        <p> {{ item.description }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
