{% extends "apparel/apparel_base.html" %}
{% load filters argonauts %}

{% block head %}
{{block.super}}
<script>
    window.item = {{item|json}};
</script>
{% endblock head %}
{% block top_content %}
{% endblock top_content %}
{% block content %}
    <div class="container md-margin-bottom" ng-app="FourBags" ng-controller="OrderController">
        <div class="contianer ng-cloak" ng-show="sucessfull === true">
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p class="ng-cloak">{$ successMessage $}</p>
            </div>
        </div>
        <h1>Ordering Form</h1>
        <div class="details well sm-margin-bottom">
            <div class="row">
                <div class="col-md-4 pull-left">
                    {% for item_image in item.item_images %}
                        <img src="{{item_image}}" alt="{{item.item_title}}" class="image img-responsive img-thumbnail">
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    <h3>{{item.item_title}}</h3>
                    <h4>{{item.item_brand}}</h4>
                    <p>{{item.description}}</p>

                    <div class="row sm-margin">
                        <div class="col-md-4 col-sm-2 col-xs-4">
                            {% if item.is_in_stock %}
                                <p class="available text-center"> Available </p>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-sm-2 col-xs-4">
                            <p class="text-center price">{{item.item_price | add_ringgit_sign}}</p>
                        </div>
                        <div class="col-md-4 col-sm-2 col-xs-4">
                            {% if item.sizes %}
                                <select name="size" class="form-control sizes">
                                    <option value="Sizes">Sizes</option>
                                {% for item_size in item.sizes  %}
                                    <option value="item_size">{{item_size}}</option>
                                {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form name="ordering_form" novalidate ng-submit="sendOrder()">
            <span class="hide">{{csrf_token}}</span>
            <div class="row sm-margin-bottom">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                              <input type="text" class="form-control" name="first_name" ng-model="customer.first_name" placeholder="First Name" required>
                            </div>
                        </div>
                        <div>
                            <span ng-show="ordering_form.first_name.$dirty && ordering_form.first_name.$error.required" class="text-danger ng-cloak">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                              <input type="text" class="form-control" name="last_name" ng-model="customer.last_name" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div>
                            <span ng-show="ordering_form.last_name.$dirty && ordering_form.last_name.$error.required" class="text-danger ng-cloak">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
                              <input type="text" class="form-control" name="phone" ng-model="customer.phone" placeholder="Phone" required>
                            </div>
                        </div>
                        <div>
                            <span ng-show="ordering_form.phone.$dirty && ordering_form.phone.$error.required" class="text-danger ng-cloak">This field is required</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                              <input type="email" class="form-control" name="email" ng-model="customer.email" placeholder="Email" required>
                            </div>
                        </div>
                        <div>
                            <span ng-show="ordering_form.email.$dirty && ordering_form.email.$error.required" class="text-danger ng-cloak">This field is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                              <input type="text" class="form-control" name="address" ng-model="customer.address" placeholder="Address" required>
                            </div>
                        </div>
                        <div>
                            <span ng-show="ordering_form.address.$dirty && ordering_form.address.$error.required" class="text-danger ng-cloak">This field is requiredd</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                              <input type="number" class="form-control" name="quantity" ng-model="customer.item_quantity" placeholder="Quantity" required>
                            </div>
                        </div>
                        <div>
                            <span ng-show="ordering_form.quantity.$dirty && ordering_form.quantity.$error.required" class="text-danger ng-cloak">This field is required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sm-margin-bottom">
                <div class="row">
                    <div class="col-md-12">
                        <span ng-show="ordering_form.cash_on_delivery.$dirty && ordering_form.cash_on_delivery.$error.required || ordering_form.paypal.$dirty && ordering_form.paypal.$error.required" class="text-danger ng-cloak">Choose Payment Method</span>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <label class="radio-inline">
                      <input type="radio" name="cash_on_delivery" value="true" ng-model="customer.cash_on_delivery" ng-click="customer.paypal = false" required> <span>Cash on delivery</span>
                    </label>
                </div>
                <div class="col-md-6 text-center">
                    <label class="radio-inline">
                      <input type="radio" name="paypal" value="true" ng-model="customer.paypal" ng-click="customer.cash_on_delivery = false" required> <span>Paypal</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button type="submit" ng-disabled="ordering_form.$invalid" class="btn btn-block btn-lg btn-local-second">ORDER</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
